@import "components/nav"; 

$primary_color: #871901;
$secon_color: #269cbf;
$tree_color: #bf26aa;
$distance: 5em;
$dis:flex;
$center: center;
$tamaño :100%;
$auto:auto;

@mixin Background($validacion) {
    padding: 1em 5%;
    margin: 0%;
    display: $dis;
    flex-direction: column;
    justify-content: space-between;
    @if $validacion {
        background-image: url(/img/fondo.png);
    }@else{
        background: tomato;
    }
}
